
body{ 

	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Computer-screen-code-glitch-animation-gif-background-free.gif/800px-Computer-screen-code-glitch-animation-gif-background-free.gif);
 }


 }

 h1 { color: white;
 text-align: center; 
font-family: sans;

}
body{
font-size:100%;
			color: white;
		}
		.wrapper {
			width: 960px;
			margin: 0 auto;
		}
		.center{
			width: 100%;
		}
		.aside{
			float: left;
			width: 229px;
		}
		.main{
			float: left;
			width: 480px;
			padding: 10px;
			border-style: solid;
			border-width: 0px 1px 0px 1px;
			border-color: #929296;
		}
		.header, .footer, .aside, .center{
			font-size: 1.2em;
			text-align: center; 
		}
		header, footer{
			line-height: 60px;
			background-color: transparent; 
		}
		header{
			background-color: transparent; 
			background-color: #929296;
		}
		.center{background-color: #ABCADB;
			background-color: transparent; 
		overflow: hidden;
		}
		.main >h2{
			text-align: center; 
		}
		.footer{
			background-color: #5F5F64;
			background-color: transparent; 
		}
	


